@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
}

* {
  box-sizing: border-box;
}
